<% content_for :nav do %>
  <%= render 'layouts/nav/dashboard' %>
<% end %>

<h3 class="page-title"> All about GitHacker </h3>
<p class="light"> Software designed to make collaborative development for hardware systems simple and effective. </p>
<hr>

<div class="row">
	<div class="col-lg-4">
		<div class="ui-box">
			<div class="title">
			<strong>Forecasted Use Cases </strong>
			</div>

			<ul class="well-list">

				<li> <strong><a href="/help/uses#personal">Personal Projects</a></strong>
					<p>Have your own ideas? Start a project solo. </p>
				</li>

				<li> <strong><a href="/help/uses#management">Project Management</a></strong>
					<p> Coordinate projects across your companies team.</p>
				</li>

				<li> <strong><a href="/help/uses#opensource">Open Source Hardware</a></strong>
					<p> Become a part of the open source hardware movement! </p>
				</li>

				<li> <strong><a href="/help/uses#workspace">Professional Workspace</a></strong>
					<p> Curate resource libraries and follow fellow professionals</p>
				</li>

				<li> <strong><a href="/help/uses#competitions">Competitions</a></strong>
					<p> Open up design challenges to engingeers worldwide. </p>
				</li>

				<li> <strong><a href="/help/uses#porfolio">Portfolio</a></strong>
					<p> Your activity demonstrates your knowledge and expertise </p>
				</li>	

			</ul>
		</div>
	</div>

<% if user_signed_in? %>
	<div class="col-lg-4">
		<div class="ui-box">
			<div class="title">
			How This Works
			</div>

			<ul class="well-list">
				<li> Get started by <%= link_to "creating a project", new_project_path %></li>
				<li> Share your projects within <a href="#">your team</a> <span class="pull-right"><a href="#">>>></a></span></li>
				<li> Learn how to <a href="#"> assign issues</a> </li>
				<li> Curate your <a href="#"> own library </a> and search it via <a href="#"> hashtags</a> </li>
			</ul>
		</div>
	</div>
<% end %>

	<div class="col-lg-4">
		<div class="ui-box">
			<div class="title">
			Contact Us
			</div>

			<ul class="well-list">
				<li> Email our <a href="mailto:kachina@alum.mit.edu">support contact</a> with site suggestions. </li>
				<li> For press inquires email our fearless leader, <a href="mailto:kachina@alum.mit.edu">Kachina</a>. </li>
			</ul>
		</div>
	</div>
</div>