<% content_for :nav do %>
<%= render 'layouts/nav/project' %>
<% end %>

<div class="row">
			<h4><%= @note.subject %> </h4>
			<p><%= simple_format(@note.body) %> </p>

		<div class="span9">

	<div class="content_list">

	<% if !@comments.present? %>
	There are no comments on this thread.
	<% else %>
	<% @comments.each do |comment| %>
		<%= simple_format(comment.body) %> </br>
	<% end %>
	<% end %>
	</div>
</div>
</div>