<nav class="main-nav">
	<div class="container">
		<ul>
			<li><%= link_to raw("<span class=\"glyphicon glyphicon-home\"></span>".html_safe), root_path() %></li>
    		<li>Projects</li>
    		<li>Issues</li>
    		<li>Wiki</li>
		</ul>
	</div>
</nav>