<nav class="main-nav">
	<div class="container">
		<ul>
			<li><%= link_to raw("<span class=\"glyphicon glyphicon-home\"></span>".html_safe), root_path() %></li>
            <li><a>About </a> </li>
            <li><a>Features</a></li>
    		<li><%= link_to "Discover", projects_path %></li>
    		<li><a>Contact</a></li>
		</ul>
	</div>
</nav>