<nav class="main-nav">
	<div class="container">
		<ul>
			<li><%= link_to raw("<span class=\"glyphicon glyphicon-home\"></span>".html_safe), root_path() %></li>
    		<li><%= link_to "Projects", projects_path %></li>
            <li><a>Features</a></li>
    		<li><%= link_to "Resources", resources_path %></li>
    		<li><%= link_to "Support", support_path %></li>
		</ul>
	</div>
</nav>