<h3 class="page-title"> My Projects </h3>
<p class="light"> All projects you have access to and are watching are listed here. </p>
<hr>

<div class="col-lg-3">
    <ul class="nav nav-pills nav-stacked">
      <li><a> ALL
          <span class="pull-right"> 0 <span></a></li>
      <li><a> Owner
          <span class="pull-right"> 0 <span></a></li>
      <li><a> Member
          <span class="pull-right"> 0 <span></a></li>    
      <li><a> Watching
          <span class="pull-right"> 0 <span></a></li>    
    </ul>
    <% if true %> <!-- @groups.present? -->
    <% end %>
</div>

<div class="col-lg-9">
	<% if @projects.blank? %>
	    <h3 class="page-title center"> There are no projects here.</h3>
	<% else %>
		<ul>
		<% @projects.each do |project| %>
			<li> 
				<p><%= project.path %></p>
				<p><%= project.tagline %> </p>
				<p>Last activity: <%= project.last_activity_to_text %> </p>
			</li>
		<% end %>
	</ul>
	<% end %>
</div>