<h3 class="page-title"> <%= @project.name %> Settings </h3>
<div class="row">
	<div class="span3">
		<h4>Notification Settings</h4>
	</div>
	<div class="span9">
			Your notification level is set to never contact.
			Select value to change the frequency of notifications.
	</div>
</div>

<div class="row">
	<div class="span3">
		<h4>Contact Settings</h4>
	</div>
	<div class="span9">
		Allow the group manager to send me an email
		Allow anyone from the group to send me an email
	</div>
</div>