<% content_for :nav do %>
  <%= render 'layouts/nav/public' %>
<% end %>

</br>
<p class="center">Here are some basic resources we have collected to help you get started!</p>
</br>

<h3>Starting with CAD Software</h3>
<p>For beginners just getting started with CAD there are some software tools you'll need to investigate and invest in. </br>
	Most are not free though you can get a hand on them if you are current student. </p>

<ul>
	<strong> CAD Software</strong>

	<li>SolidWorks, <a href="https://www.solidworks.com/" target="_blank"> https://www.solidworks.com/ </a></li>
	<li>AutoCAD, <a href="http://www.autodesk.com/products/autodesk-autocad/overview" target="_blank"> http://www.autodesk.com/products/autodesk-autocad/overview </a></li>
	<li>Rhino3D, <a href="http://www.rhino3d.com/" target="_blank"> http://www.rhino3d.com/ </a></li>
	<li>OpenSCAD, <a href="http://www.openscad.org/about.html" target="_blank"> http://www.openscad.org/about.html </a></li>
</ul>

<p>While we are trying to provide collaboration software we do not yet integrate with CAD modeling software. </br>
For that there are already several companies providing useful integration tools they include:</p>

<ul>
	<strong> CAD Collaboration Software</strong>

	<li>GrabCAD Workbench, <a href="http://grabcad.com/workbench" target="_blank"> http://grabcad.com/workbench </a></li>
	<li>Sunglass.io, <a href="http://sunglass.io/" target="_blank"> http://sunglass.io/ </a></li>
</ul>

<h2> Learn Machining Techniques</h2>
<p>The best way to learn to machine is to first take some safety and introduction classes in your area. As makerspaces spread across the country there are more and more places where this is possible. If you can't find a makerspace or techshop near you, you can always <a href="https://www.adafruit.com/blog/2012/11/12/how-to-start-a-hackerspace-part-1/" target="_blank"> start one </a>.</p> 

<ul>
	<strong>Workshops and Makerspaces</strong>
	<li>TechShop, <a href="http://www.techshop.ws/" target="_blank">http://www.techshop.ws/ </a></li>
	<li>The Maker Map, <a href="http://themakermap.com/" target="_blank"> http://themakermap.com/ </a></li>
	<li>List of Hackerspaces, <a href="http://hackerspaces.org/wiki/List_of_Hacker_Spaces" target="_blank"> http://hackerspaces.org/wiki/List_of_Hacker_Spaces </a></li>
</ul>

<p>If you're just looking to learn more about manufacturing processes you can check out the <a href="http://vimeo.com/fabacademy" target="_blank"> Fab Academy Video Collection</a>.</p>


<h2> Sourcing Components</h2>
There are many more resources than what we could ever hope to list. Here are some notable sources of hardware and electronic components:
<ul>
</br>
	<li>McMaster, <a href="http://www.mcmaster.com/" target="_blank"> http://www.mcmaster.com/ </a></li>
	<li>AdaFruit, <a href="http://www.adafruit.com/" target="_blank">http://www.adafruit.com/ </a></li>
</ul>

<h2>Kickstarter Campaigns</h2>
Need some inspiration? Look through these open source products have been funded through Kickstarter.

<span>
<iframe width="480" height="360" src="https://www.kickstarter.com/projects/openrov/openrov-the-open-source-underwater-robot/widget/video.html" frameborder="0" scrolling="no"> </iframe><h4><a href="https://www.kickstarter.com/projects/openrov/openrov-the-open-source-underwater-robot" target="_blank"> OpenROV </a></h4>
</span>

<span>
<iframe width="480" height="360" src="https://www.kickstarter.com/projects/david-toledo/the-powerpot/widget/video.html" frameborder="0" scrolling="no"> </iframe>
<h4><a href="https://www.kickstarter.com/projects/david-toledo/the-powerpot" target="_blank"> The PowerPot </a></h4>
</span>

<span>
<iframe width="480" height="360" src="https://www.kickstarter.com/projects/skirmos/skirmos-open-source-laser-tag/widget/video.html" frameborder="0" scrolling="no"> </iframe>
<h4><a href="https://www.kickstarter.com/projects/skirmos/skirmos-open-source-laser-tag" target="_blank"> Open Source Laser Tag </a></h4>
</span>

<span>
<iframe width="480" height="360" src="https://www.kickstarter.com/projects/gcw/gcw-zero-open-source-gaming-handheld/widget/video.html" frameborder="0" scrolling="no"> </iframe>
<h4><a href="https://www.kickstarter.com/projects/gcw/gcw-zero-open-source-gaming-handheld" target="_blank"> Open Source Gaming Handheld </a></h4>
</span>

<span>
<iframe width="480" height="360" src="https://www.kickstarter.com/projects/openbci/openbci-an-open-source-brain-computer-interface-fo/widget/video.html" frameborder="0" scrolling="no"> </iframe>
<h4><a href="https://www.kickstarter.com/projects/openbci/openbci-an-open-source-brain-computer-interface-fo" target="_blank"> Open Source Brain Computer Interface </a></h4>
</span>

<span>
<iframe width="480" height="360" src="https://www.kickstarter.com/projects/adapteva/parallella-a-supercomputer-for-everyone/widget/video.html" frameborder="0" scrolling="no"> </iframe>
<h4><a href="https://www.kickstarter.com/projects/adapteva/parallella-a-supercomputer-for-everyone" target="_blank"> Parallella </a></h4>
</span>
