<% content_for :nav do %>
  <%= render 'layouts/nav/public' %>
<% end %>

<embed  src="http://vimeo.com/58036261" />

<h4> Learn Machining Techniques</h4>
<a href="http://vimeo.com/fabacademy" target="_blank"> Fab Academy </a>

<h4> Learn CAD Software</h4>

<h4> Sourcing Components</h4>
OpenSCAD, http://www.openscad.org/about.html
McMaster
GrabCAD Workbench, http://grabcad.com/workbench

<h4> Database of Vendors and Manufacturers</h4>

<h4>Fundraising for Projects</h4>
Kickstarter

List of Kickstarter Campaigns