
<div class="modal fade" id="addSkillsModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add Skills</h4>
			</div>
			<div class="modal-body">
				<%= simple_form_for "UsersSkill", :url => {:controller => "users_skills", :method => :put}, :class=>"form-horizontal" do |f| %>
				<div class="form-group">
					<% Skill.all.each do |skill| %>
					<%= check_box_tag "skill#{skill.id}", 7 %>
					<%= label_tag "skill#{skill.id}", skill.name %>
				</br>
					<% end %>	

				</div>      
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit "Add Skills", :class => "btn btn-primary" %>
				<% end %>  
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

