<p> Welcome <%= @email %>!</p>

<p> You can confirm your account email through the link below:</p>

<p> If setting up an account on our staging site paste the following url in your browser: </p>

<p> http://radiant-headland-6939.herokuapp.com/users/confirmation?confirmation_token=<%= @token %> </p>
<p> Otherwise you know what to do. Have a lovely day! </p>
</br>
<p> best, </br>
	Kachina Gosselin </p>