<script type="text/javascript">
$(document).ready(function() {

    //NOTE that I am selecting on a class here
    $('#toggle').click(function(e) {
        //You also need to prevent the default behaviour of 
        e.preventDefault();

        $("#container").toggle();
    });

    $(".section").hide();
    $("#overview").show();

    if(window.location.hash) {
    	var hash = window.location.hash.substring(1);
    	$("#overview").hide();
    	showdiv(hash);
    }

});

function hidealldivs(){
	$(".section").hide();
	$("#overview").hide();
}

function showdiv(id){
	document.getElementById(id).style.display = "block";
}
</script>

<% if user_signed_in? %>
<% content_for :nav do %>
<%= render 'layouts/nav/dashboard' %>
<% end %>

<% else %>
<% content_for :nav do %>
<%= render 'layouts/nav/public' %>
<% end %>


<% end %>

<div class="row">
	<div class="col-lg-4">
		<div class="ui-box">
			<div class="title">
				<strong>Getting Started Hacking</strong>
			</div>

			<ul class="well-list">

				<li> <strong><a href="/support#overview" onclick="hidealldivs(); showdiv('overview')">Overview</a></strong>
					<p>Find out what we're all about!</p>
				</li>

				<li> <strong><a href="/support#personal" onclick="hidealldivs(); showdiv('personal')">Personal Projects</a></strong>
					<p>Have your own ideas? Start a project solo. </p>
				</li>

				<li> <strong><a href="/support#management" onclick="hidealldivs(); showdiv('management')">Project Management</a></strong>
					<p> Coordinate projects across your companies team.</p>
				</li>

				<li> <strong><a href="/support#opensource" onclick="hidealldivs(); showdiv('opensource')">Open Source Hardware</a></strong>
					<p> Become a part of the open source hardware movement! </p>
				</li>

			</ul>
		</div>

		<div class="ui-box">
			<div class="title">
				Contact Us
			</div>

			<ul class="well-list">
				<li> Email our <a href="mailto:kachina@alum.mit.edu">support contact</a> with site suggestions. </li>
				<li> For press inquires email our fearless leader, <a href="mailto:kachina@alum.mit.edu">Kachina</a>. </li>
			</ul>
		</div>
	</div>

	<div class="col-lg-8">

		<div id="overview">
			<h3 class="page-title">Documentation Overview</h3>
			<hr>
			<p class="light"> Welcome to GitHacker. As you can tell this is a work in progress. 
			</p>

			<p class="light"> Our hope is to create a platform for remote collaboration for hardware projects. We aim to connect makers with causes of a greater scale, to education and leverage existing resources, and assist in turning your ideas into viable products. 
			</p>

			<p class="light"> We are building our suite of tools with a select group of companies testing out our beta site. Please contact us if interested in participating.
			</p>
		</div>

		<div class="section" id="personal">
			<h3 class="page-title">Personal Projects</h3>
			<hr>
			<p class="light"> Githacker is designed to allow you to create solo projects and to invite collaborators.
			</p>
			<hr>

			<div class="numberCircle">1</div>
			<div style="margin-left:45px;margin-right:45px;margin-top:-36px;">
				<h3 class="page-title">Register an account</h3>
				<p class="light"> The first set is to create an account. Don't worry our services are free. </p>
			</div>
			<hr>

			<div class="numberCircle">2</div>
			<div style="margin-left:45px;margin-right:45px;margin-top:-36px;">
				<h3 class="page-title">Create a Project</h3>
				<p class="light"> You'll be navigated to your dashboard. There's not much content at the moment but that's when you can create a project. Each project has it's own page for tracking user storyboards, identifying issues and writing notes specific to the project. If you need assistance check out our resources page. It's basic but enough to get you started and inspired. 
				</p>
			</div>
			<hr>

			<div class="numberCircle">3</div>
			<div style="margin-left:45px;margin-right:45px;margin-top:-36px;">
				<h3 class="page-title">Give Feedback</h3>
				<p class="light"> We're glad to have you on board using our tools. In return we would love to get your feedback. If your needs aren't met through our software we'll either point you to a different resource or develop what you need.
				</p>
				<p class="light center"> Happy hacking!</p>
			</div>
		</div>


		<div class="section" id="management">
			<h3 class="page-title">Project Management</h3>
			<hr>
			<p class="light"> We understand that it is difficult to manage remote teams. So we are building tools simplify the process without disrupting your workflow.
			</p>
			<hr>

			<div class="numberCircle">1</div>
			<div style="margin-left:45px;margin-right:45px;margin-top:-36px;">
				<h3 class="page-title">Add your core team</h3>
				<p class="light"> There's your community and then there's your core team. We encourage you to focus on setting up groups that reflect the members in your core team and their specialties and focus. If your project is open to the public we will allow users to be able to watch your project for updates and request to join your efforts. You'll be in charge of approving new members and involving your supporting community.</p>
			</div>
			<hr>

			<div class="numberCircle">2</div>
			<div style="margin-left:45px;margin-right:45px;margin-top:-36px;">
				<h3 class="page-title">Open Issues to the Community</h3>
				<p class="light"> As your create user stories and features to deliver you'll run into issues. These can be discussed within the team or opened up to the community for resolution. Issues are tagged with skills and users with corresponding talents are automatically notified. Those able to offer support are recognized with points so that you can identify the experts within the platform. 
				</p>
			</div>
			<hr>

			<div class="numberCircle">3</div>
			<div style="margin-left:45px;margin-right:45px;margin-top:-36px;">
				<h3 class="page-title">Engaging Community</h3>
				<p class="light"> Outside of the core team is a supportive community. You may need their expertise for an hour for a specific problem or for them to request new features or offer to integrate a solution they've developed. Engaging this community is work but doing so with care can have unexpected and pleasant benefits. Users can choose to watch your project so that they get notified of announcements, open issues and job postings. With our platform you'll see right away if users are a good fit for your organization by seeing how much they've made an effort to contribute before you've even signed the contract. 
				</p>
			</div>
		</div>


		<div class="section" id="opensource">
			<h3 class="page-title">Open Source Hardware</h3>
			<hr>
			<p class="light"> It's up to you to whether or not you open source your product. Doing so enables you to be part of the greater maker movement and build a global community around your product and vision, and enables us to work on projects that are more ambigious, locally adaptive and global in scale. 
			</p>
		</div>



	</div>
</div>
