<% content_for :nav do %>
  <%= render 'layouts/nav/dashboard' %>
<% end %>

<p class="light"> Imagine being able to design the items in your life, working collaboratively with people around the world, . </p>
<hr>

<div class="row">
	<div class="col-lg-3">
		<div class="ui-box">
			<div class="title">
			<strong>Forecasted Use Cases </strong>
			</div>

			<ul class="well-list">

				<li> <strong><a href="/help/uses#personal">Personal Projects</a></strong>
				</li>

				<li> <strong><a href="/help/competitions">Project Management</a></strong>
				</li>

				<li> <strong><a href="/help/competitions">Open Source Hardware</a></strong>
				</li>

				<li> <strong><a href="/help/competitions">Professional Workspace</a></strong>
				</li>

				<li> <strong><a href="/help/competitions">Competitions</a></strong>
				</li>

				<li> <strong><a href="/help/competitions">Portfolio</a></strong>
				</li>				
			</ul>
		</div>
	</div>

	<div class="col-lg-9 pull-right">
		Content
	</div>


</div>

<hr>

	<p class="center"> <strong> Found a use case that inspires you to create?</strong> Share your thoughts and request features that will help you get started! <a href="mailto:kachina@alum.mit.edu">Contact our team</a></p>